<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 注册 HelloWorldService 服务客户端 -->
    <bean id="helloWorldService" class="org.sagesource.simplerpc.spring.client.ServiceClientFactoryBean">
        <property name="interfaceType" value="org.sagesource.test.api.HelloWorldService.Iface"/>
        <property name="serviceVersion" value="1.0.0"/>
    </bean>

</beans>